[run]
branch = True
source = gitssue/
omit =
    gitssue/__main__.py
    gitssue/gitssue.py
    *_interface.py
    gitssue/remote/dummy.py
    gitssue/__init__.py
    gitssue/*/__init__.py

[html]
directory = reports/coverage/
